html {
    scroll-behavior: smooth;
  }
body{
    overflow-x: hidden;
}
:target {
    scroll-margin-top: 15vh;
  }
  .fundo-video {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.fundo-video .video {
    height: 80vh;
}

.fundo-video::after {
    content: "";
    height: 80vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.98) 35%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.98) 65%, rgba(0,0,0,1) 100%);
}
.menu{
position: absolute;
display: flex;
justify-content: end;
width: 55vw;
top: 0.5vw;
right: 1vw;
font-weight: bold;
font-size: 18px;
}

.menu li a{
color: white;  
text-decoration: none;  
margin: 1vw;
position: relative;
text-shadow: 8px 8px 16px #000000;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
}
.menu li a::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: aliceblue;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
.menu li a:hover::after {
    width: 100%;
}


.apresentacao{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 105vw;
}
.logo{
    width: 25vw;
    filter: drop-shadow(0px 16px 16px rgba(0, 0, 0, 1));
}
.apresentacao p{
    color: white;
    width: 50vw;
    font-size: 1vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.30);
    word-spacing: 4px;
    line-height: 140%
}
.stars{
    width: 9vw;
}
.linguagens{
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    width: 80vw;
    justify-content: center;
    position: relative;
    margin-bottom: -7vh;
}
.linguagens img{
    z-index: 10;
    width: 75px;
    height: 60px;
    margin: 1vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.7));
}

.bloco2{
    max-width: 100vw;
    width: 100vw;
    height: 70vh;
    max-height: 70vw;
    left: 0px;
    top: 535px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes .box{
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0, 0.5);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    background: rgba(255, 238, 0, 0.219);
    border-radius: 15px;

    animation: animateBox 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
  
  }
  .boxes .box:nth-child(1){
    z-index: 1;
    top: 20vh;
    right: 2vw;
    width: 25px;
    height: 25px;

  }
  .boxes .box:nth-child(2){
    z-index: 1;

    top: 12vh;
    right: 10vw;
    width: 15px;
    height: 15px;
    z-index: 2;
    }
  .boxes .box:nth-child(3){
    z-index: 1;
    top: 2vh;
    right: 6vw;
    width: 5px;
    height: 5px;
  }
      
  .boxes .box:nth-child(4){
    z-index: 1;

    top: 6vh;
    right: 4vw;
    width: 30px;
    height: 30px;
    z-index: 2;
  }
  .boxes .box:nth-child(5){
    z-index: 1;

    top: 20vh;
    right: 13vw;
    width: 10px;
    height: 10px;
  }
  @keyframes animateBox{
    0%,100%{
      transform: translateY(-15px);
    }50%{
      transform: translateY(15px);
  
    }
  } 
  
.card{
    position: relative;
    margin: 0vw 4vw 0;
    max-height:50vh ;
    z-index: 2;
}

.card-face1 img{
    width: 8vw;
  
}
.card-face1{
    box-shadow: 5px 40px 16px rgba(0, 0, 0, 0.795);    
    height: 25vh;
    width: 20vw;
    max-width: 20vw;
    background: #636363;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px; 

}

.card-face2{
    color: #FFFF;
    width: 20vw;
    max-width: 20vw;
    height: 30vh;
    transition: 250ms ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    overflow: hidden;
    opacity: 0;
}
.card:hover .card-face1{
    background-color: #eefc35;
    border-radius: 15px 15px 0 0; 

}
.card:hover .card-face2{
    box-shadow: 5px 40px 16px rgba(0, 0, 0, 0.795);    
    opacity: 1;
    border-radius: 0px 0px 15px 15px;;
    height: 30vh;
    background: #130735;
}
.card:hover .card-face1 p{
  color: #000000;
}
.card:hover {
    margin: 0vw 4vw 0;
}

.card-face1 p{
    font-weight: bold;
    color: #D9D9D9;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 21px;
   
  
}


.card-face2 input{
    background-color: #00bb00;
    width: 5vw;
    height: 3vh;
    border: none;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    margin-bottom: 1vw;
    cursor: pointer;
    transition: 300ms;
}
.card-face2 input:hover{
    box-shadow: 2px 4px 16px #00bb00;
}


/* manipulando animação de fundo icon do bloco 2 */
.row svg{
 width: 1vw;
}
.bloco2 section{
    position:absolute;
    z-index: 0;
    width: 100vw;
    height:70vh;
    background: #D9D9D9; 
    display: flex;
    flex-direction: column;
    overflow: hidden;  
}
.bloco2 section .row{
    position:relative;
    display: flex;
    padding: 0px 0;
    white-space: nowrap;
    background: #D9D9D9;   
    transform: rotate(-30deg);
}
.bloco2 section .row svg{
      fill: #adadad;
      padding: 0.1vw;
      transition: 1s;
      user-select: none;
      cursor: default;
}
.bloco2 section .row svg:hover{
    transition: 0s;
    fill: #0f0;
    filter: drop-shadow(8px 8px 16px rgba(2, 255, 14, 0.4));


}

section .row div{
    animation: animate 50s linear infinite;
}
@keyframes animate{
    0%{
        transform: translateX(100%);

    }100%{
        transform: translateX(-100%);

    }
}
/* FIM da manipulação animação de fundo icon do bloco 2 */

/* INICIO BLOCO3 */
.bloco3{
    position: relative;
    width: 100vw;
    height: 60vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.bloco3 img{
    width: 3vw;
}
.user{
    display: flex;
    align-items: center;
    margin-left: 2vw;
}
.coments{
    margin-top: -45vh;
    margin-left: -70vh;
}
.coment{
    cursor: pointer;
    transition: 0.4s ease;
    position: absolute;
    margin: 1vw;
    width: 30vw;
    height: 25vh;
    padding: 1vw;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0, 0.5);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    background: rgb(255, 255, 255);
    border-radius: 15px;
}
.user h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
}
.coment p{
    margin-left: 6vw;
    text-align: center;
    max-width: 20vw;
    font-family: 'Inter';
    font-style: normal; 
}
.coment{
    z-index: 1;
}
#slide1:checked ~ #coment3,
#slide1:checked ~ #coment4,
#slide2:checked ~ #coment4,
#slide2:checked ~ #coment1,
#slide3:checked ~ #coment1,
#slide3:checked ~ #coment2,
#slide4:checked ~ #coment2,
#slide4:checked ~ #coment3
{
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    transform: translateX(-40%) scale(0.9);
    z-index: 0;
    
}

#slide1:checked ~ #coment2,
#slide2:checked ~ #coment3,
#slide3:checked ~ #coment4,
#slide4:checked ~ #coment1{
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    transform: translateX(40%) scale(0.9);
    z-index: 0;
}

#slide1:checked ~ #coment3,
#slide2:checked ~ #coment4,
#slide3:checked ~ #coment1,
#slide4:checked ~ #coment2{
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    transform: translateX(0) scale(0.5);
    z-index: 0;
}

#slide1:checked ~ #coment1,
#slide2:checked ~ #coment2,
#slide3:checked ~ #coment3,
#slide4:checked ~ #coment4{
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
    transform: translateX(0) scale(1.1);
    z-index: 1;
}
input[type=radio]{
    display: none;
}

.custom-shape-divider-top-1682176374 {
    position: absolute;
    bottom: -15.6vh;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1682176374 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1682176374 .shape-fill {
    fill: #FFFFFF;
}

/* INICIO ESTILO BLOCO 4(APRESENTAÇÃO DE VANTAGENS) */
.bloco4{
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
    width: 100vw;
    height: 80vh;
    background-color: #424242;
}
.vantagem-face1 img{
    width: 9vw;
    top: 4vw;
    left: 8vw;
    position: absolute;
    transition: 0.4s;
}
.vantagens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45vh;
    width: 25vw;
    margin: 2vw;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0, 0.5);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    transition: 0.5s;

}
.vantagem-face1 p{
    font-weight: bold;
    font-size: 0.9vw;
    margin: 1vw;
    font-style: oblique;

}
.vantagem-face2 p{
    font-size: 0.85vw;
    
}

.vantagem-face2,.vantagem-face1 p{
   /* transform: translateY(200px); */
   opacity: 0; 
   transition: 0.5s;

}
.vantagens:hover  .vantagem-face2,
.vantagens:hover .vantagem-face1 p
{
    transform: translateY(-20px);
    opacity: 1;
}
.vantagens:hover .vantagem-face1 img 
{
    opacity: 0.1;
}

.vantagens p{
    color: #ffffff;
    max-width: 20vw;
    text-shadow: 3px 3px 4.5px black;

}
/* FIM ESTILO BLOCO 4*/

/* INICIO ESTILO BLOCO 5(MAPA DO LOCAL) */
.bloco5{
    width: 100vw;
    height: 30vh;
}
footer{
    color: #000000;
    background-color: #b9b9b9;
    font-family: 'Inter';
    font-style: normal;
    
}
.divFooter{
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
}
.navFooter nav ul{
    display: flex;
    flex-direction:row;
    list-style: none;
    
}
.navFooter nav ul li a{
    margin: 10px;
    color:black;
}

.infoFooter{
    margin-left: -10vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logoFooter img{
    margin-left: 5vw;
    width: 5vw;
}
.redesSociais img{
    width: 1vw;
    margin: 10px;
    cursor: pointer;
}
#twitter{
    width: 1.3vw;
}
.redesSociais{
    display: flex;
    align-items: center;

}

.direitos{
    padding: 0.4vw;
    opacity: 0.7;
    border-top: 1px solid black;
    margin-top: 0.3vw;
}


@media only screen and (max-width: 1440px){
    .card-face1,.card-face2{
        width: 25vw;
        max-width: 25vw;
    }
    .card-face2{
        font-size: 14px;
    }
    .card-face2 input{
        background-color: #00bb00;
        width: 6.5vw;
        cursor: pointer;
        transition: 300ms;
    }

    .vantagem-face1 p{
        font-size: 1.3vw;
    
    }
    .vantagem-face2 p{
        font-size: 1vw; 
    }
    .custom-shape-divider-top-1682176374 {
        bottom: -18vh;

    }
    .coments{
        margin-left: -50vh;
    }
  } 
  @media only screen and (max-width: 500px){
    .fundo-video .video,.fundo-video::after {
        height: 100vh;
    }
    .apresentacao{
        flex-direction: column;
        width: 100vw;
        height: 100vh;
    }
    .apresentacao p{
        font-size: 2.8vw;
        width: 90vw;
    }
    .menu{
        position: absolute;
        display: flex;
        justify-content: center;
        width: 90vw;
        top: 3vw;
        
        }
    .menu li {
        margin: 2vw;
    }
        .logo{
            position: absolute;
            top: -3.5vh;
            z-index: -1;
            width: 70vw;
        }
    .stars{
        display: none;
    }
    .linguagens{
        top:-42vw;
    }
    .linguagens img{
        z-index: 10;
        width: 7vw;
        height: 5vh;
        margin: 1vw;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.7));
    }
    #node,#react{display: none;}
    
    .bloco2{
        flex-direction: column;
        position: relative;
        max-height: 300vw;
        height: 300vh;
    }
    .bloco2 section{
        position: absolute;
        height:400vh;
        z-index: -1;
    }

    .card{
        position: relative;
        top: -100vh;
    }
    #card2,#card3{
        margin-top: 15vh;
    }
    .card-face1 img{
        width: 30vw;
    
    }
    .card-face1{
        width: 70vw;
        max-width: 70vw;
    
    }

    .card-face2{
    width: 70vw;
    max-width: 70vw;
    height: 60vh;
    
}
#card3-face2{
    height: 40vh;

}
.card-face2 input{
    width: 20vw;
    height: 3vh;
 
}
.bloco2 section .row{
    flex-wrap: wrap;
 
}
section .row div{
    animation: animate 30s linear infinite;
}
.row svg{
    width: 9vw;
   }
   @keyframes animate{
    0%{
        transform: translateX(100%);

    }100%{
        transform: translateX(-100%);

    }
}
.boxes{
    display: none;
}
.coment{
    width: 60vw;
    height: 40vh;

}
.coment p{
    margin: 6vw;
    text-align: center;
    max-width: 50vw;
    font-family: 'Inter';
    font-style: normal; 
}
.bloco3 img{
    width: 9vw;
}
.user h1{
    margin: 4vw;
    font-size: 20px;
}

#slide1:checked ~ #coment2,
#slide1:checked ~ #coment3,
#slide1:checked ~ #coment4,
#slide2:checked ~ #coment3,
#slide2:checked ~ #coment4,
#slide2:checked ~ #coment1,
#slide3:checked ~ #coment4,
#slide3:checked ~ #coment1,
#slide3:checked ~ #coment2,
#slide4:checked ~ #coment1,
#slide4:checked ~ #coment2,
#slide4:checked ~ #coment3
{
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}
.custom-shape-divider-top-1682176374 {
    bottom: -22.5vh;
}


.bloco4{
    flex-direction: column;
    width: 100vw;
    height: 200vh;
}
.vantagem-face1 img{
    width: 45vw;
    top: 14vw;
    left: 14vw;
    
}
.vantagens{
    flex-direction: column;
    height: 60vh;
    width: 70vw;
    margin: 6vw;
}

#vantagem1{
    margin-top: 20vh;
}

.vantagens p{
    color: #ffffff;
    max-width: 70vw;
    text-shadow: 3px 3px 4.5px black;

}
.vantagem-face1 p{
    font-weight: bold;
    font-size: 4vw;
    font-style: oblique;

}
.vantagem-face2 p{
    font-size: 3.5vw;
    
}

.logoFooter{
    display: none;
}


.divFooter{
    height: 25vh;

    justify-content:center;
}

.infoFooter{
    margin-left: 0vw;
}
.redesSociais img{
    width: 5vw;
   
}#twitter{
    width: 8vw;
}


  }